{% load staticfiles %}
<script>
{#    获取用户购物车中商品的数量#}
    $.get('/cart/count/',function (data) {
        $("#show_count").html(data.res)
    })
</script>
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到尚硅谷书城!</div>
			<div class="fr">
                {% if request.session.islogin %}
                    <div class="login_btn fl">
                        欢迎您：<em>{{ request.session.username }}</em>
                        <span>|</span>
                        <a href="{% url 'user:logout' %}">注销</a>

                    </div>
                    {% else %}
                        <div class="login_btn fl">
                            <a href="{% url 'user:login' %}">登录</a>
                            <span>|</span>
                            <a href="{% url 'user:register' %}">注册</a>
                        </div>
                {% endif %}

				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:show' %}">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>

<div class="search_bar clearfix">
		<a href="{% url 'books:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:show' %}" class="cart_name fl">我的购物车</a>
			<div class="book_count fl" id="show_count">1</div>
		</div>
	</div>