{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>尚硅谷书城-用户中心</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="application/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <style type="text/css">
        a{
            color:black;
        }
        a:hover{
            color:#ff8800;
        }
    </style>
    <script type="application/javascript">
        $(function () {
            //删除收货地址
            $(".site_con dl").find("a:last").click(function () {
                addr_id = $(this).attr("addr_id");
                params = {
                    "id": addr_id,
                    "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val()
                };
                $.post('/user/del/', params, function (res) {
                    if(res.res === 200){
                        //删除成功,并刷新当前页面
                        location.reload()
                    }else{
                        //删除失败
                        alert("删除失败，无效的收货地址")
                    }
                })


            });

            //设置默认收货地址
            $(".site_con dd:gt(0)").find("a:first").click(function () {
                addr_id = $(this).next("a").attr("addr_id");
                params = {
                    "id": addr_id,
                    "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val()
                };
                $.post('/user/update/', params, function (res) {
                    if(res.res === 200){
                        //删除成功,并刷新当前页面
                        location.reload()
                    }else{
                        //删除失败
                        alert("更新失败，无效的收货地址")
                    }
                })


            })
        })
    </script>
</head>
<body>

	{% include 'books/nav.html' %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}">· 个人信息</a></li>
				<li><a href="{% url 'user:order' %}">· 全部订单</a></li>
				<li><a href="{% url 'user:address' %}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前收货地址：</dt>
                        {% if addr %}
                            <dd>{{ addr.recipient_addr }} ({{ addr.recipient_name }} 收)  {{ addr.recipient_phone }}&nbsp;&nbsp;&nbsp;<a href="javascript:;" addr_id="{{ addr.id }}" >删除</a> </dd>
                        {% else %}
                            <dd>无</dd>
                        {% endif %}
					</dl>
                    <dl>
						<dt>其他地址：</dt>
                        {% for laddr in addrlist %}
                            <dd>{{ laddr.recipient_addr }} ({{ laddr.recipient_name }} 收)  {{ laddr.recipient_phone }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;">设置为默认收货地址</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;" addr_id="{{ laddr.id }}">删除</a> </dd>

                        {% empty %}
                            <dd>无</dd>
                        {% endfor %}
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post" action="/user/address/">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="username">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="addr"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="zip_code">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone">
						</div>


						<input type="submit" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京尚硅谷信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>